<div>
  <form #data="ngForm" (ngSubmit)="signIn(data.value)">
    <table>
      <tr>
        <th colspan="2">
          <h3>Увійти</h3>
        </th>
      </tr>
      <tr>
        <td>
          <label for="username">Логін:</label></td>
        <td>
          <input type="text" ngModel name="username" id="username">
        </td>
      </tr>
      <tr>
        <td><label for="password">Пароль:</label></td>
        <td>
          <input type="password" ngModel name="password" id="password">
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Вхід</button>
        </td>
        <td>
          <a routerLink="/registration">Реєстрація</a>
        </td>
      </tr>
    </table>
  </form>
</div>
