.main-container {
  margin: 0 auto;
  width: max-content;
}

mat-card {
  width: max-content;
}

input {
  width: 300px;

}

.invalid-feedback {
  max-width: 300px;
}

#login-actions {
  margin-top: 10px;
}

#login-actions > button {
  width: 200px;
  margin-right: 15px;
}

mat-card-actions > button {
  width: 170px;
}

mat-card-actions > a {
  margin-left: 30px;
}

mat-card-content > div {
  margin-top: 10px;
}

#password-icon {
  position: absolute;
  left: 287px;
  display: flex;
  height: 37px;
  align-items: center;
}
