<div class="main-container">
  <mat-card>
    <mat-card-content>
      <h5>Показники для лічильника "{{meter.name}}"
        <!--<span class="badge badge-info" (click)="meterInfo(meter.id)" style="cursor: pointer">{{meter.name}}</span>-->
      </h5>
      <div id="add-indicator-button">
        <button class="btn btn-primary btn-sm d-xs-inline-block d-sm-none" (click)="addIndicator(meter.id)">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary btn-sm d-none d-sm-inline-block" (click)="addIndicator(meter.id)">
          Додати показник
        </button>
      </div>
      <hr>
      <app-indicators-list [meterProps]="meter"></app-indicators-list>
    </mat-card-content>
  </mat-card>
</div>
