<h3>
  Список зареєстрованих користувачів
</h3>
<table border="1">
  <tr style="background-color: lightgray">
    <th>&nbsp;#&nbsp;</th>
    <th [class.active]="order === 'firstName'" (click)="setOrder('firstName')">Ім'я
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="firstNameValue" placeholder="Ім'я">
      </div>
    </th>
    <th [class.active]="order === 'lastName'" (click)="setOrder('lastName')">Прізвище
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="lastNameValue" placeholder="Прізвище">
      </div>
    </th>
    <th [class.active]="order === 'username'" (click)="setOrder('username')">Логін
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="usernameValue" placeholder="Логін">
      </div>
    </th>
    <th [class.active]="order === 'email'" (click)="setOrder('email')">E-mail
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="emailValue" placeholder="e-mail">
      </div>
    </th>
    <th colspan="2">Редагувати / Видалити</th>
  </tr>
  <tr *ngFor="let user of users
      | searchFilter: 'firstName' : firstNameValue
      | searchFilter: 'lastName' : lastNameValue
      | searchFilter: 'username' : usernameValue
      | searchFilter: 'email' : emailValue
      | orderBy: order: reverse:'case-insensitive'
      | paginate: { itemsPerPage: itemsNumber, currentPage: currentPage };
      index as i;
      even as isEven"
      [ngStyle]="{ 'background-color': isEven ? '' : '#F5F5F5' }"
      (click)="selectedRow(user.id)"
      align="center">

    <td>{{i+1}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td><button (click)="editUser(user.id, $event)">Редагувати</button></td>
    <td><button (click)="deleteUser(user.id, $event)">Видалити</button></td>
  </tr>
</table>
<br>
<pagination-controls class="pagination" (pageChange)="currentPage = $event" previousLabel="Попередня" nextLabel="Наступна" style="display: inline-block"></pagination-controls>
<label for="itemsNumber">Записів на сторінку: </label>
<select [(ngModel)]="itemsNumber" name="itemsNumber" id="itemsNumber">
  <option *ngFor="let number of [3,5,10,20,50]">{{number}}</option>
  <option [ngValue]="maxIntegerValue">Всі</option>
</select>
