<h3>
  Список зареєстрованих користувачів
</h3>
<table border="1">
  <tr style="background-color: lightgray">
    <th>&nbsp;#&nbsp;</th>
    <th>Ім'я</th>
    <th>Прізвище</th>
    <th>Логін</th>
    <th>E-mail</th>
    <th colspan="2">Редагувати / Видалити</th>
  </tr>
  <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsNumber, currentPage: currentPage }; index as i; even as isEven" [ngStyle]="{ 'background-color': isEven ? '' : '#F5F5F5' }" (click)="selectedRow(user.id)">
    <td>{{i+1}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td><button (click)="editUser(user.id, $event)">Редагувати</button></td>
    <td><button (click)="deleteUser(user.id, $event)">Видалити</button></td>
  </tr>
</table>
<br>
<pagination-controls class="pagination" (pageChange)="currentPage = $event" previousLabel="Попередня" nextLabel="Наступна"></pagination-controls>
