<h3>Інформація про користувача "{{user.username}}" </h3>
<p>
  <b>ID користувача: </b>{{user.id}}
</p>
<p>
  <b>Ім'я: </b>{{user.first_name}}
</p>
<p>
  <b>Прізвище: </b>{{user.last_name}}
</p>
<p>
  <b>Логін: </b>{{user.username}}
</p>
<p>
  <b>E-mail: </b>{{user.email}}
</p>
<p>
  <b>Дата створення: </b>{{user.create_date}}
</p>
<p>
  <b>Ролі: </b>
  <span *ngFor="let role of user.authorities; last as isLast">
    <span *ngIf="!isLast">{{role.name}}, </span>
    <span *ngIf="isLast">{{role.name}}</span>
  </span>
</p>
<p *ngIf="user.description">
  <b>Короткий опис: </b>{{user.description}}
</p>
<button (click)="editUser(user.id)">Редагувати</button>
<button (click)="deleteUser(user.id)">Видалити профіль</button>
