.main-container {
  width: 100%;
}

#collapse-icon {
  width: 20px;
}

#category-button-group {
  float: right;
}

.button-separator {
  display: inline-block;
  width: 10px;
}

#meter-tariff-button-group {
  margin-top: 10px;
}

#add-category-button-1 {
  float: right;
  margin-top: -5px;
}

.item-align {
  vertical-align: middle;
  line-height: 30px;
}

/*#add-category-button-2 {*/
  /*float: right;*/
  /*margin-top: 10px;*/
/*}*/
