<div class="main-container">
  <mat-card>
    <mat-card-content>
      <h5>Список доступних категорій</h5>
      <hr>

<table>
  <tr *ngFor="let category of categories">
    <td width="70%">
      <details style="font-weight: bold">
        <summary style="cursor: pointer">{{category.name}}</summary>
        <app-meters-list [categoryId]="category.id"></app-meters-list>
        <table style="padding-left: 30px; padding-bottom: 10px">
          <tr>
            <td><button (click)="addMeter(category.id)">Додати лічильник</button></td>
            <td (click)="tariffsList(category.id)" style="padding-left: 15px; cursor: pointer; color: #0000b7; text-decoration: underline;">Тарифи</td>
          </tr>
        </table>
      </details>
    </td>
    <td valign="top">
      <button (click)="editCategory(category.id)">Редагувати</button>
    </td>
    <td valign="top">
      <button (click)="deleteCategory(category.id)">Видалити</button>
    </td>
  </tr>
</table>

    </mat-card-content>
  </mat-card>
</div>



<br>
<button (click)="addCategory()">Додати нову категорію</button>
