<div *ngIf="meters.length > 0; then metersList else noMeters"></div>
<ng-template #metersList>
  <div>
    <div class="alert meter-item" role="alert" *ngFor="let meter of meters" (click)="selectedMeter(meter.id)">{{ meter.name }}
      <div id="category-button-group">

        <button class="btn btn-info btn-sm" (click)="infoMeter(meter.id, $event)">
          <i class="fa fa-info pr-1 pl-1" aria-hidden="true"></i>
        </button>
        <div class="button-separator"></div>
        <button class="btn btn-primary btn-sm" (click)="editMeter(meter.id, $event)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <div class="button-separator"></div>
        <button class="btn btn-danger btn-sm" (click)="deleteMeter(meter.id, $event)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #noMeters>
  <div class="alert alert-warning" role="alert">У цій категорії лічильників не виявлено!</div>
</ng-template>
