<div>
  <form #data="ngForm" (ngSubmit)="createCategory(data.value)">
    <table>
      <tr>
        <th colspan="2">
          <h3>Додвання нової категорії</h3>
        </th>
      </tr>
      <tr>
        <td>
          <label for="name">Назва категорії:</label></td>
        <td>
          <input type="text" ngModel name="name" id="name">
        </td>
        <td *ngIf="categoryErrors['name']" style="color: red">{{categoryErrors['name']}}</td>
      </tr>
      <tr>
        <td>
          <label for="description">Короткий опис:</label>
        </td>
        <td>
          <textarea ngModel name="description" id="description"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Створити</button>
        </td>
        <td>
          <button type="reset">Очистити</button>
        </td>
      </tr>
    </table>
  </form>
</div>
