.navbar-container {
  padding: 0;
}

.active {
  background: #E2E3E5;
}


.separator {
  height: 20px;
}


/*#col1 {*/
  /*background-color: #f44336;*/
/*}*/

/*#col2 {*/
  /*background-color: aquamarine;*/
/*}*/

/*#col3 {*/
   /*background-color: #f44336;*/
 /*}*/
