<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <span>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </span>
    <span *ngIf="!authService.isLoggedIn()">
      | <a routerLink="/login" routerLinkActive="active">LogIn</a>
    </span>
    <span *ngIf="authService.isLoggedIn()">
      | <a routerLink="/user/all" routerLinkActive="active">All Users</a>
    </span>
    <span *ngIf="authService.isLoggedIn()">
      | <a routerLink="/logout" (click)="authService.logout()" routerLinkActive="active">LogOut</a>
    </span>
  </div>

  <router-outlet></router-outlet>

</div>
