<!--The content below is only a placeholder and can be replaced.-->

<mat-card class="navbar-container">
  <mat-card-content>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a routerLink="/" class="navbar-brand">
        {{ title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" *ngIf="!authService.isLoggedIn()">
          <li class="nav-item">
            <a routerLink="/registration" routerLinkActive="active" class="nav-link px-3">Реєстрація</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link px-3">Увійти</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-0" *ngIf="authService.isLoggedIn()">
          <li class="nav-item">
            <a routerLink="/category/user/{{userService.currentUser.id}}" routerLinkActive="active" class="nav-link px-3">Категорії</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-1" *ngIf="authService.isLoggedIn() && userService.isAdmin()">
          <li class="nav-item">
            <a routerLink="/user/all" routerLinkActive="active" class="nav-link px-3">Користувачі</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="authService.isLoggedIn()">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle px-3" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Привіт {{userService.currentUser.sub}}!
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a routerLink="/user/{{userService.currentUser.id}}/info" routerLinkActive="active" class="dropdown-item mt-0 mb-0">
                <small>Налаштування</small>
              </a>
              <div class="dropdown-divider"></div>
              <a routerLink="/logout" (click)="authService.logout()" routerLinkActive="active" class="dropdown-item mt-0 mb-0">
                <small>Вийти</small>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </mat-card-content>
</mat-card>
<div class="container-fluid p-0 content-container">
  <div class="row">
    <div class="col-12 separator"></div>
  </div>
  <div class="row no-gutters">
    <div class="d-none d-lg-block col-lg-1"></div>
    <div class="col-md-12 col-lg-10">
      <router-outlet></router-outlet>
      <ng4-loading-spinner></ng4-loading-spinner>
    </div>
    <div class="d-none d-lg-block col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-12 separator"></div>
  </div>
</div>
