<div>
  <form #data="ngForm" (ngSubmit)="createTariff(data.value)">
    <table>
      <tr>
        <th colspan="2">
          <h3>Додати тариф до категорії "{{category.name}}"</h3>
        </th>
      </tr>

      <tr>
        <td>
          <label for="name">Назва тарифу:</label></td>
        <td colspan="3">
          <input type="text" ngModel name="name" id="name" size="50">
        </td>
        <td *ngIf="tariffErrors['name']" style="color: red">{{tariffErrors['name']}}</td>
      </tr>
      <tr>
        <td>
          <label for="rate">Тариф:</label>
        </td>
        <td>
          <input type="text" ngModel name="rate" id="rate">
        </td>
        <td>
          <label for="currency">одиниці:</label>
        </td>
        <td>
          <input type="text" ngModel name="currency" id="currency"> /
          <select [ngModel]="null" name="unit" id="unit">
            <option *ngFor="let unit of units" [ngValue]="unit">{{unit.name}}</option>
          </select>
        </td>
        <td *ngIf="tariffErrors['unitId']" style="color: red">{{tariffErrors['unitId']}}</td>
      </tr>
      <tr>
        <td></td>
        <td *ngIf="tariffErrors['rate']" style="color: red">{{tariffErrors['rate']}}</td>
        <td></td>
        <td *ngIf="tariffErrors['currency']" style="color: red">{{tariffErrors['currency']}}</td>
      </tr>
      <tr>
        <td>
          <label for="begin-date">Дата дії з:</label>
        </td>
        <td>
          <input type="date" ngModel name="beginDate" id="begin-date">
        </td>
        <td>
        <label for="end-date">до:</label></td>
        <td>
          <input type="date" ngModel name="endDate" id="end-date">
        </td>
      </tr>
      <tr>
        <td></td>
        <td *ngIf="tariffErrors['beginDate']" style="color: red">{{tariffErrors['beginDate']}}</td>
      </tr>
      <tr>
        <td>
          <label for="description">Короткий опис:</label>
        </td>
        <td colspan="3">
          <textarea ngModel name="description" id="description"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Створити</button>
        </td>
        <td>
          <button type="reset">Очистити</button>
        </td>
      </tr>
    </table>
  </form>
</div>
