<div class="main-container">
  <form #data="ngForm" (ngSubmit)="updateUser(data.value)">
    <mat-card>
      <mat-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="d-none d-md-block col-md-1 col-lg-2 col-xl-3"></div>
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
              <h5>Зміна логіну / паролю користувача "{{user.username}}"</h5>
              <hr>

              <div>
                <label for="username">
                  <span style="color: red; font-weight: bold;">*</span>
                  Ім'я користувача (логін):</label>
                <input type="text" [ngModel]="user.username" name="username" class="form-control" [ngClass]="{'is-invalid': userErrors['username']}" id="username" placeholder="Введіть ім'я користувача">
                <div class="invalid-feedback">
                  {{userErrors['username']}}
                </div>
              </div>

              <div>
                <label for="old-password">
                  <span style="color: red; font-weight: bold;">*</span>
                  Старий пароль:</label>
                <span class="password-icon">
                  <i class="fa fa-2x" aria-hidden="true" [ngClass]="hideOldPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="hideOldPassword = !hideOldPassword"></i>
                </span>
                <input type="password" ngModel name="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" class="form-control" [ngClass]="{'is-invalid': userErrors['old-password']}" id="old-password" placeholder="Введіть старий пароль" required>
                <div class="invalid-feedback">
                  {{userErrors['old-password']}}
                </div>
              </div>

              <div>
                <label for="new-password">
                  <span style="color: red; font-weight: bold;">*</span>
                  Новий пароль:</label>
                <span class="password-icon">
                  <i class="fa fa-2x" aria-hidden="true" [ngClass]="hideNewPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="hideNewPassword = !hideNewPassword"></i>
                </span>
                <input type="password" ngModel name="newPassword" [type]="hideNewPassword ? 'password' : 'text'" class="form-control" [ngClass]="{'is-invalid': userErrors['password']}" id="new-password" placeholder="Введіть новий пароль" required>
                <div class="invalid-feedback">
                  {{userErrors['password']}}
                </div>
              </div>

              <div>
                <label for="confirm">
                  <span style="color: red; font-weight: bold;">*</span>
                  Підтвердження паролю:</label>
                <span class="password-icon">
                  <i class="fa fa-2x" aria-hidden="true" [ngClass]="hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="hideConfirmPassword = !hideConfirmPassword"></i>
                </span>
                <input type="password" ngModel name="confirm" [type]="hideConfirmPassword ? 'password' : 'text'" class="form-control" [ngClass]="{'is-invalid': userErrors['confirm']}" id="confirm" placeholder="Введіть підтвердження" required>
                <div class="invalid-feedback">
                  {{userErrors['confirm']}}
                </div>
              </div>

              <div id="user-actions">
                <button type="submit" class="btn btn-success">Оновити</button>
                <div class="button-separator"></div>
                <button type="reset" class="btn btn-primary">Очистити</button>
              </div>

            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
