.button-separator {
  display: inline-block !important;
  width: 10px;
}

#user-actions {
  margin-top: 10px;
}

#user-actions > button {
  width: 140px;
}

mat-card-content > div > div > div > div {
  margin-top: 10px;
}

.password-icon {
  position: absolute;
  /*left: 307px;*/
  right: 25px;
  display: flex;
  height: 37px;
  align-items: center;
}
