th {
  cursor: pointer;
}
th span {
  visibility: hidden;
}
th.active {
  color: #000000;
}
th.active span {
  visibility: visible;
}

.tariff-pagination /deep/ .ngx-pagination .current {
  background: #007BFF;
  border-radius: 3px;
}

#indicator-button {
  margin-top: 10px;
}

.input-small {
  height: 20px;
  width: 100%;
}

.button-separator {
  display: inline-block !important;
  width: 10px;
}

.sort-icons-container {
  display: inline-block;
  width: 15px;
}

th span .sort-icon {
  visibility: visible;
}

.tariff-value {
  font-size: 1.1em;
}

#itemsNumber {
  width: 60px;
}

#tariff-button {
  width: 200px;
  display: block;
}
