<table border="1">
  <tr style="background-color: lightgray">
    <th rowspan="2">&nbsp;#&nbsp;</th>
    <th rowspan="2" [class.active]="order === 'name'" (click)="setOrder('name')">Назва тарифу
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="nameValue" placeholder="Назва">
      </div>
    </th>
    <th rowspan="2" colspan="2" [class.active]="order === 'rate'" (click)="setOrder('rate')">Тариф
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="rateValue" placeholder="Тариф">
      </div>
    </th>
    <th colspan="2">Дата дії тарифу</th>
    <th rowspan="2" [class.active]="order === 'description'" (click)="setOrder('description')">Короткий опис
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="descriptionValue" placeholder="Опис">
      </div>
    </th>
    <th rowspan="2" colspan="2">Редагувати / Видалити</th>
  </tr>
  <tr style="background-color: lightgray">
    <th [class.active]="order === 'beginDate'" (click)="setOrder('beginDate')">діє з
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="beginDateValue" placeholder="Дата">
      </div>
    </th>
    <th [class.active]="order === 'endDate'" (click)="setOrder('endDate')">діє до
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="endDateValue" placeholder="Дата">
      </div>
    </th>
  </tr>
  <tr *ngFor="let tariff of tariffs
      | searchFilter: 'name' : nameValue
      | searchFilter: 'rate' : rateValue
      | searchFilter: 'description' : descriptionValue
      | searchFilter: 'beginDate' : beginDateValue
      | searchFilter: 'endDate' : endDateValue
      | orderBy: order:reverse:'case-insensitive'
      | paginate: { itemsPerPage: itemsNumber, currentPage: currentPage };
      index as i;
      even as isEven"
      [ngStyle]="{ 'background-color': isEven ? '' : '#F5F5F5' }"
      (click)="selectedRow(tariff.id)"
      align="center">

    <td>{{i+1}}</td>
    <td>{{tariff.name}}</td>
    <td>{{tariff.rate}}</td>
    <td>{{tariff.currency}} / {{tariff.unitName}}</td>
    <td>{{tariff.beginDate}}</td>
    <td>{{tariff.endDate}}</td>
    <td>{{tariff.description}}</td>
    <td><button (click)="editTariff(tariff.id, $event)">Редагувати</button></td>
    <td><button (click)="deleteTariff(tariff.id, $event)">Видалити</button></td>
  </tr>
</table>
<br>
<pagination-controls class="pagination" (pageChange)="currentPage = $event" previousLabel="Попередня" nextLabel="Наступна" style="display: inline-block"></pagination-controls>
<label for="itemsNumber">Записів на сторінку: </label>
<select [(ngModel)]="itemsNumber" name="itemsNumber" id="itemsNumber">
  <option *ngFor="let number of [3,5,10,20,50]">{{number}}</option>
  <option [ngValue]="maxIntegerValue">Всі</option>
</select>
<br>
<button (click)="addTariff()">Додати тариф</button>
