<div>
  <form #data="ngForm" (ngSubmit)="updateTariff(data.value)">
    <table>
      <tr>
        <th colspan="2">
          <h3>Редагувати тариф з категорії "{{tariff.category.name}}"</h3>
        </th>
      </tr>

      <tr>
        <td>
          <label for="name">Назва тарифу:</label></td>
        <td colspan="3">
          <input type="text" [(ngModel)]="tariff.name" name="name" id="name" size="50">
        </td>
      </tr>

      <tr>
        <td>
          <label for="rate">Тариф:</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="tariff.rate" name="rate" id="rate">
        </td>
        <td>
          <label for="currency">одиниці:</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="tariff.currency" name="currency" id="currency"> /
          <select [ngModel]="units[currentUnitId]" name="unit" id="unit">
            <option *ngFor="let unit of units" [ngValue]="unit">{{unit.name}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="begin-date">Дата дії з:</label>
        </td>
        <td>
          <input type="date" [(ngModel)]="tariff.begin_date" name="begin_date" id="begin-date">
        </td>
        <td>
          <label for="end-date">до:</label></td>
        <td>
          <input type="date" [(ngModel)]="tariff.end_date" name="end_date" id="end-date">
        </td>
      </tr>

      <tr>
        <td>
          <label for="description">Короткий опис:</label>
        </td>
        <td colspan="3">
          <textarea [(ngModel)]="tariff.description" name="description" id="description"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Оновити</button>
        </td>
        <td>
          <button type="reset">Очистити</button>
        </td>
      </tr>
    </table>
  </form>
</div>
