.button-separator {
  display: inline-block !important;
  width: 10px;
}

#tariff-actions {
  margin-top: 10px;
}

#tariff-actions > button {
  width: 130px;
}

mat-card-content > div > div > div > div {
  margin-top: 10px;
}
