th {
  cursor: pointer;
  /*margin-right: 15px;*/
  /*margin-left: 15px;*/
}
th span {
  visibility: hidden;
}
th.active {
  color: #000000;
}
th.active span {
  visibility: visible;
}

.pagination /deep/ .ngx-pagination .current {
  background: #000000;
}

.button-separator {
  display: inline-block;
  width: 10px;
}

#indicators-button-group {
  margin-top: 10px;
}

#add-indicator-button {
  float: right;
}

.input-small {
  height: 20px;
  width: 100%;
}

.button-separator {
  display: inline-block;
  width: 10px;
}

.sort-icons-container {
  display: inline-block;
  width: 15px;
}

th span .sort-icon {
  visibility: visible;
}
