<table border="1">
  <tr style="background-color: lightgray">
    <th rowspan="2">&nbsp;#&nbsp;</th>
    <th rowspan="2" [class.active]="order === 'indicator.date'" (click)="setOrder('indicator.date')">Дата фіксації
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="indicatorDateValue" placeholder="Дата">
      </div>
    </th>
    <th colspan="2">Показник</th>
    <th rowspan="2" [class.active]="order === 'tariff.unit.name'" (click)="setOrder('tariff.unit.name')">Одиниці вимірювання
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="tariffUnitNameValue" placeholder="Одиниці">
      </div>
    </th>
    <th rowspan="2" colspan="2" [class.active]="order === 'tariff.rate'" (click)="setOrder('tariff.rate')">Тариф
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="tariffRateValue" placeholder="Тариф">
      </div>
    </th>
    <th rowspan="2" colspan="2" [class.active]="order === 'indicator.price'" (click)="setOrder('indicator.price')">Вартість
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="indicatorPriceValue" placeholder="Вартість">
      </div>
    </th>
    <th rowspan="2" [class.active]="order === 'indicator.status'" (click)="setOrder('indicator.status')">Статус
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="indicatorStatusValue" placeholder="Статус">
      </div>
    </th>
    <th rowspan="2" [class.active]="order === 'indicator.description'" (click)="setOrder('indicator.description')">Короткий опис
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="indicatorDescriptionValue" placeholder="Опис">
      </div>
    </th>
    <th rowspan="2" colspan="2">Редагувати / Видалити</th>
  </tr>
  <tr style="background-color: lightgray">
    <th [class.active]="order === 'indicator.previous'" (click)="setOrder('indicator.previous')">попередній
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="indicatorPreviousValue" placeholder="Значення">
      </div>
    </th>
    <th [class.active]="order === 'indicator.current'" (click)="setOrder('indicator.current')">поточний
      <span [hidden]="reverse">&#9660;</span>
      <span [hidden]="!reverse">&#9650;</span>
      <div (click)="clickEvent($event)">
        <input type="search" [(ngModel)]="indicatorCurrentValue" placeholder="Значення">
      </div>
    </th>
  </tr>
  <tr *ngFor="let indicatorAndTariff of indicatorsAndTariffs
      | searchFilter: 'indicator.date' : indicatorDateValue
      | searchFilter: 'tariff.unit.name' : tariffUnitNameValue
      | searchFilter: 'tariff.rate' : tariffRateValue
      | searchFilter: 'indicator.price' : indicatorPriceValue
      | searchFilter: 'indicator.status' : indicatorStatusValue
      | searchFilter: 'indicator.description' : indicatorDescriptionValue
      | searchFilter: 'indicator.previous' : indicatorPreviousValue
      | searchFilter: 'indicator.current' : indicatorCurrentValue
      | orderBy: order: reverse:'case-insensitive'
      | paginate: { itemsPerPage: itemsNumber, currentPage: currentPage };
      index as i;
      even as isEven"
      [ngStyle]="{ 'background-color': isEven ? '' : '#F5F5F5' }"
      (click)="selectedRow(indicatorAndTariff.indicator.id)"
      align="center">

    <td>{{i+1}}</td>
    <td>{{indicatorAndTariff.indicator.date}}</td>
    <td>{{indicatorAndTariff.indicator.previous}}</td>
    <td>{{indicatorAndTariff.indicator.current}}</td>
    <td>{{indicatorAndTariff.tariff.unit.name}}</td>

    <!--<td *ngIf="tariffService.getTariffById(indicator.tariffId) | async as tariff">{{tariff.body.rate}}</td>-->
    <!--<td>{{(tariff$ | async)?.body.rate}}</td>-->

    <td>{{indicatorAndTariff.tariff.rate}}</td>
    <td>{{indicatorAndTariff.tariff.currency}} / {{indicatorAndTariff.tariff.unit.name}}</td>
    <td>{{indicatorAndTariff.indicator.price}}</td>
    <td>{{indicatorAndTariff.tariff.currency}}</td>
    <td>
      <span *ngIf="indicatorAndTariff.indicator.status">Оплачено</span>
      <span *ngIf="!indicatorAndTariff.indicator.status">Неоплачено</span>
    </td>
    <td>{{indicatorAndTariff.indicator.description}}</td>
    <td><button (click)="editIndicator(indicatorAndTariff.indicator.id, $event)">Редагувати</button></td>
    <td><button (click)="deleteIndicator(indicatorAndTariff.indicator.id, $event)">Видалити</button></td>
  </tr>
</table>
<br>
<pagination-controls class="pagination" (pageChange)="currentPage = $event" previousLabel="Попередня" nextLabel="Наступна" style="display: inline-block"></pagination-controls>
<label for="itemsNumber">Записів на сторінку: </label>
<select [(ngModel)]="itemsNumber" name="itemsNumber" id="itemsNumber">
  <option *ngFor="let number of [3,5,10,20,50]">{{number}}</option>
  <option [ngValue]="maxIntegerValue">Всі</option>
</select>
<br>
<button (click)="addIndicator()">Додати показник</button>
<button>Згенерувати звіт</button>
