<div>
  <form #data="ngForm" (ngSubmit)="updateUser(data.value)">
    <table>
      <tr>
        <th colspan="2">
          <h3>Редагування профайлу користувача "{{user.username}}"</h3>
        </th>
      </tr>
      <tr>
        <td>
          <label for="first-name">Ім'я:</label></td>
        <td>
          <input type="text" [ngModel]="user.firstName" name="firstName" id="first-name">
        </td>
        <td *ngIf="userErrors['firstName']" style="color: red">{{userErrors['firstName']}}</td>
      </tr>
      <tr>
        <td>
          <label for="last-name">Прізвище:</label></td>
        <td>
          <input type="text" [ngModel]="user.lastName" name="lastName" id="last-name">
        </td>
        <td *ngIf="userErrors['lastName']" style="color: red">{{userErrors['lastName']}}</td>
      </tr>
      <tr>
        <td>
          <label for="email">E-mail:</label></td>
        <td>
          <input type="text" [ngModel]="user.email" name="email" id="email">
        </td>
        <td *ngIf="userErrors['email']" style="color: red">{{userErrors['email']}}</td>
      </tr>
      <tr *ngIf="userService.isAdmin()">
        <td>
          <label for="role">Ролі:</label>
        </td>
        <td>
          <select [ngModel]="user.authorities" name="authorities" id="role" multiple>
            <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="description">Короткий опис:</label>
        </td>
        <td>
          <textarea [ngModel]="user.description" name="description" id="description"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Оновити</button>
        </td>
        <td>
          <button type="reset">Очистити</button>
        </td>
      </tr>
    </table>
  </form>
</div>
