<div class="main-container">
  <mat-card>
    <mat-card-content>

      <h5 (click)="categoriesList()" style="cursor: pointer; color: #0000b7;">
        Список  категорій користувача
        <span style="cursor: pointer; color: #000000" (click)="userInfo($event)">
          "{{userService.currentUser.sub}}"
        </span>
      </h5>
      <br>
      <hr>
      <p>
        Назва / версія: <b>Komunalka 1.0.0-Beta</b><br>Розробник: <b>Микола Демчнина</b><br>E-mail: <b>kdemchyna@gmail.com</b>
      </p>

    </mat-card-content>
  </mat-card>
</div>
